<section data-id="{{id}}">
    <h1> {{name}} <span class="product-id">#{{id}}</span></h1>
    <h2>Marca: {{brand}}</h2>
    <p>Foto: {{mainPhoto}}</p>
    <p>Precio: ${{price}}</p>
    <p>Stock: {{stock}}</p>
    <p>Categoría: {{category}}</p>
    <p>Descripción corta: {{shortDescription}}</p>
    <p>Descripción larga: {{longDescription}}</p>
    <p>Envío gratuito: {{freeShipping}}</p>
</section>